@model CIPLATFORM_SKILL_PM.Models.ViewModel.SkillModel
<div style="height:100vh;width:100vw;" id="loader">
    <div class="spinner-border text-danger"></div>
</div>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-12 d-lg-flex flex-column" id="admin-page-navigation">
            <div class="mt-3 d-flex"
                 style="width:100%;padding-left: 15px;justify-content: space-between;align-items: center;">
                <h5>
                    NAVIGATION
                </h5>
                <a href="javascript:void(0)" class="closebtn d-flex d-lg-none" onclick="closeNav()">&times;</a>
            </div>
            <button class="admin-page-button-nav">
                <svg class="mt-1 mx-1" xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor"
                     class="bi bi-tools admin-page-btn-img-nav" viewBox="0 0 16 16">
                    <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0
                               5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0
                               0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675                                    3.68L7.462 6.46 4.793 3.793a1 1 0 01-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 01-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3
11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z" />
                </svg>
                Skills
            </button>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="card row d-flex p-3" style="flex-direction: row;">
                <div class="col-md-6 col-sm-5 p-2 d-flex"
                     style="font-size:18px;align-items: center;justify-content: space-around;"
                     id="admin-page-right-nav">
                    <span style="font-size:30px;cursor:pointer" onclick="adminpage_openNav()"
                          class="d-lg-none d-flex" style="position:absolute;display: inline-flex;">&#9776;</span>
                    @DateTime.Now
                </div>
                <div class="col-md-3 col-sm-1">
                </div>
                <div class="col-md-3 col-sm-5 d-flex p-2" id="admin-page-left-nav">
                    <img class="img-fluid" src="~/images/volunteer1.png" style="border-radius: 50%;height:40px;">
                    <button value=""
                            style="border: none; background: white;margin-left: 10px;height: 30px;"
                            class="dropdown-toggle bg-light user-btn" type="button" id="dropdownMenu2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            @Model.userName
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li class="dropdownnavbarlinks">
                            <button class="dropdown-item" type="button">
                                <a style="text-decoration:none;color:black;" href="@Url.Action("logout", "AdminSkill")">logout </a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container mt-3">
                <h1>
                    Skill Master
                </h1>
                <hr>
                <div class="row mt-4" style="justify-content: space-between;">
                    <div class="col-3 px-1"
                         style="align-items: center;display: flex;justify-content:space-between;flex-direction: row;border:1px solid gray;height:50px;
                                    border-radius: 10px;margin-left:10px;">
                        <img src="~/images/search.png" style="height:20px;">
                        <input type="text" id="searchskill" placeholder="Search" style="width:90%;border: none;padding:5px">
                    </div>
                    <div class="col-2">
                        <button value=""
                                class="dropdown-toggle bg-light user-btn" type="button" id="menudropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                SortBy
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li class="dropdownnavbarlinks">
                                <button class="dropdown-item" type="button" onclick="sortby(0)">
                                    <p> &#8593;Up</p>
                                </button>
                            </li>
                            <li class="dropdownnavbarlinks">
                                <button class="dropdown-item" type="button" onclick="sortby(1)">
                                    <p>&#8595;Down</p>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3 d-flex" style="justify-content: flex-end;">
                        <button style="background: none;border: 2px solid orange;border-radius: 15px;color: orange;font-weight: bolder;width: 150px;margin-right: 0px;"
                                class="p-2" data-bs-toggle="modal" data-bs-target="#AddskillModal">

                            + Add
                        </button>
                    </div>
                </div>
                <div class="row mt-4" id="skillTable">
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ModalSkillCrud")


<script src="js/bootstrap.bundle.js"></script>
<script>
    function adminpage_openNav() {
        document.getElementById("admin-page-navigation").style.display = "flex";
        document.getElementById("admin-page-navigation").style.width = "65%";
        document.getElementById("admin-page-navigation").style.opacity = "1";
        document.getElementById("admin-page-navigation").style.height = "100vh";

    }
    function closeNav() {
        document.getElementById("admin-page-navigation").style.width = "0%";
        document.getElementById("admin-page-navigation").style.opacity = "0";
    }
</script>
 @section Javascript{
<script src="~/js/AdminSkill.js" asp-append-version="true"></script>
  }
