

@model CIPLATFORM_SKILL_PM.Models.ViewModel.LoginModel
@{
    ViewData["Title"] = "Home Page";
}
 <div class="container-fluid maincarouselpart">
    <div class="row">
      <div id="imagecontent" class="col-md-8 col-sm-12">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="~/images/Screenshot (187).png" class="d-block w-100"
                alt="...">
              <div class="carousel-caption d-none d-md-block imgcontent">
                <h2>Sed ut perspiciatis unde omnis iste natus voluptatem.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="d-block w-100"
                alt="...">
              <div class="carousel-caption d-none d-md-block imgcontent">
                <h1>Sed ut perspiciatis unde omnis iste natus voluptatem.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/Grow-Trees-On-the-path-to-environment-sustainability.png" class="d-block w-100"
                alt="...">
              <div class="carousel-caption d-none d-md-block imgcontent">
                <h1>Sed ut perspiciatis unde omnis iste natus voluptatem.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
        <div id="logincontent" class="col-md-4 col-sm-12 logincontent">
            <form asp-action="Login" asp-controller="Account">
                <label asp-for="EmailId">Email Address</label>
                <input asp-for="EmailId" type="text" id="loginemail" placeholder="shichan@nohara.com">
                <span asp-validation-for="EmailId" class="text-danger"></span>

                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="Password" id="loginpass" placeholder="**********">
                <span asp-validation-for="Password" class="text-danger"></span>

                <input type="submit" value="Login">
                <a asp-action="ForgotPassword">Lost your password?</a>
                <p>Don’t have an account?<a asp-action="Register"> Create an account</a></p>
            </form>
            <div id="loginpolicy">
                <p>Privacy Policy</p>
            </div>
        </div>
    </div>
</div>

