* {
    margin: 0px;
    padding: 0px;
}

.maincarouselpart > .row {
    height: 100vh;
    width: 100vw;
}

#imagecontent {
    margin: 0px;
    padding: 0px;
}

    #imagecontent img {
        height: 100vh;
    }

.imgcontent {
    text-align: left;
    left: 14%;
    bottom: 4rem;
    display: block !important;
}

    .imgcontent h2 {
        font-weight: normal;
        line-height: 5vh;
        width: 61%;
    }

    .imgcontent p {
        width: 83%;
    }

.logincontent {
    height: 100vh;
}

.logincontent {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    justify-content: center;
}

    .logincontent > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 74vh;
        justify-content: center;
    }

        .logincontent > form > * {
            width: 100%;
            color: #414141;
            margin-bottom: 1vh;
            padding: 1vh;
            font-size: 2vh;
        }

        .logincontent > form > a {
            width: auto;
            width: auto;
            text-decoration: none;
            font-size: 2vh;
        }

        .logincontent > form > input {
            box-shadow: 0.97px 0.26px 3px #0000000D;
            border: 1px solid #D9D9D9;
            border-radius: 1vh;
        }

        .logincontent > form > p > a {
            color: #2B64B1;
            text-decoration: none;
        }

        .logincontent > form > p {
            width: auto;
            font-size: 2vh;
        }

        .logincontent > form > input[type=submit] {
            background: #F8863400 0% 0% no-repeat padding-box;
            border: 2px solid #F88634;
            color: #F88634;
            margin-top: 1vh;
            border-radius: 2.4vh;
        }

#loginpolicy > p {
    text-align: center;
}

@media screen and (max-width:1200px) {
    .logincontent > form > * {
        font-size: 1vh;
    }

    .logincontent {
        padding: 1vh;
    }
}

@media screen and (max-width:767px) {
    #imagecontent {
        height: 45vh;
    }

        #imagecontent img {
            height: 45vh;
        }

    .logincontent {
        height: 55vh;
    }

    .imgcontent {
        bottom: 0;
        display: block !important;
    }

        .imgcontent p {
            font-size: 1.5vh;
            width: 100%;
        }

        .imgcontent h2 {
            font-weight: normal;
            line-height: 3vh;
            width: 100%;
        }

    .logincontent > form > * {
        font-size: 1.9vh;
    }

    .logincontent {
        padding: 4vh;
    }
}

/*/========================================================*admin*=============================================================/*/
#admin-page-navigation {
    background-color: #ff7800;
    color: white;
    align-items: center;
    display: none;
    transition: 0.5s;
    overflow-x: auto;
    z-index: 3;
    height: 100vh;
    width: 20%
}

.table-admin-page {
    width: 80% !important;
}

.admin-page-button-nav {
    border: none;
    background-color: transparent;
    display: flex;
    color: white;
    width: 80%;
    padding: 4px;
    margin-top: 10px;
}

    .admin-page-button-nav:hover {
        border: none;
        background-color: white;
        display: flex;
        color: orange;
        box-shadow: whitesmoke;
        border-radius: 5px;
    }

#admin-page-left-nav {
    justify-content: flex-end;
}

.admin-page-btn-img-nav {
    margin-right: .3vw;
}

.admin-page-button-nav > a:hover {
    color: orange;
}

.closebtn {
    text-decoration: none;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

    .closebtn:hover {
        background-color: white;
        color: orange;
    }

@media(max-width:570px) {
    #admin-page-right-nav {
        justify-content: center;
        display: flex;
    }

    #admin-page-left-nav {
        justify-content: center;
        display: flex;
    }
}

@media(max-width:990px) {
    #admin-page-navigation {
        position: absolute;
        transition: 1s;
        width: 60%;
    }
}

@media(max-width:550px) {
    #admin-page-navigation {
        width: 70%;
    }
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
